name: Release

permissions:
  contents: write

on:
  push:
    tags:
      - v[0-9]+.*

env:
  CARGO_TERM_COLOR: always

jobs:
  create-release:
    name: Create GitHub Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Create GitHub Release
        uses: taiki-e/create-gh-release-action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

  upload-assets:
    name: Upload ${{ matrix.target }}
    needs: create-release
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          # Linux x86_64
          - target: x86_64-unknown-linux-musl
            os: ubuntu-latest
          # macOS x86_64
          - target: x86_64-apple-darwin
            os: macos-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build and upload binary
        uses: taiki-e/upload-rust-binary-action@v1
        env:
          OPENSSL_STATIC: 1
          OPENSSL_VENDORED: 1
        with:
          bin: atlas
          target: ${{ matrix.target }}
          tar: all
          include: README.md,LICENSE
          leading-dir: true
          token: ${{ secrets.GITHUB_TOKEN }}

